@model ProyectoHotel.Models.HabitacionesModel

@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modificar</h1>

<h4>HabitacionesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modificar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHabitacion" class="control-label"></label>
                <input asp-for="IdHabitacion" class="form-control" />
                <span asp-validation-for="IdHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoHabitacion" class="control-label"></label>
                <input asp-for="TipoHabitacion" class="form-control" />
                <span asp-validation-for="TipoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disponibilidad" class="control-label"></label>
                <input asp-for="Disponibilidad" class="form-control" />
                <span asp-validation-for="Disponibilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioHabitacion" class="control-label"></label>
                <input asp-for="PrecioHabitacion" class="form-control" />
                <span asp-validation-for="PrecioHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
